.header__image {
  width: 30px;
  margin: 0;
}

@media screen and (max-width: 1600px) {
  .header__image {
    width: 26px;
  }
}

@media screen and (max-width: 1024px) {
  .header__image {
    width: 20px;
  }
}