.loading {
  width: 80vw;
  margin: 120px 0 30px 10%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1600px) {
  .loading {
    margin: 110px 0 20px 10%;
  }
}

@media screen and (max-width: 1024px) {
  .loading {   
    margin: 100px 0 10px 2%;
    min-width: 800px;
  }
}
